<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-default">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:home' %}">Blog</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:blog_create' %}">Post</a>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <div style="position:absolute; right:5%;">
                <a href="{% url 'users:login' %}" class="btn btn-secondary mx-2">Login</a>
                <a href="{% url 'users:signup' %}" class="btn btn-warning">Sign up</a>
            </div>

            {% else %}
            <li class="nav-item dropdown mb-5" style="position:absolute; right:5%;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="{{ user.profile.image.url }}"
                        style="width:35px; height:35px; border-radius:50%; border:1px solid #f3f3f3; padding:2px;"
                        alt="{{ user.username }} img" class="mb-1">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

    </div>
</nav>