{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Post
{% endblock title %}
{% block content %}

<div class="container p-4">
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4 class="display-5">Are you sure you want to delete {{ target_post.title }} ?</h4>
        <input type="submit" class="btn btn-outline-danger" value="Delete">
        <a href="{% url 'blog:home' %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>

{% endblock content %}