{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-3">
        <!-- ! SUBSCRIBE -->
        <div class="card my-4">
            <div class="card-body">
                <h4 class="card-title" style="font-weight:400">Subscribe to our newsletter</h4>
                <form action="{% url 'subscribe' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Subscribe" class="btn btn-success btn-sm mt-3">
                </form>
            </div>
        </div>
        <!-- ! latest popsts -->
        <div class="card my-3 latest-post">
            <div class="card-body">
                <div class="card-title">
                    <h5>Latest Posts</h5>
                </div>
                {% for blog in latest_post %}
                <div class="card-title my-1"><small><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></small>
                </div>
                <small class="text-secondary"> Posted {{ blog.created_at|naturaltime }}</small>
                {% if forloop.last %}
                <div class="py-1"></div>
                {% else %}
                <div class="border-bottom py-1"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-6">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success my-2">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% for blog in queryset %}
        <!-- ! main posts here -->
        <div class="card my-2  {% cycle 'bg1' 'bg2' %}">
            <div class="row p-3">
                <!-- ! Meta data of post -->
                <div class="row">
                    <div class="col-2">
                        <img src="{{ blog.author.profile.image.url }}" alt="{{ blog.author.profile.image.url }}"
                            class="home-user-pic mx-3">
                    </div>
                    <div class="col-10">
                        <h5 style="margin-bottom:0px;"><a
                                href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.title }}</a></h5>
                        {% if blog.created_at == blog.updated_at %}
                        <small class="text-muted">Author: <a
                                href="{% url 'blog:user_posts' blog.author.username %}">{{ blog.author.username }}</a>,
                            posted {{ blog.created_at|naturaltime }}</small>
                        {% else %}
                        <small class="text-muted">Author: <a
                                href="{% url 'blog:user_posts' blog.author.username %}">{{ blog.author.username }}</a>,
                            updated {{ blog.updated_at|naturaltime }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <!--  ! body of post -->
                    <div class="border-bottom my-1"></div>
                    <p> {{ blog.content |safe |truncatechars:250  }}
                        <a href="{{ blog.get_absolute_url }}">(more)</a>
                    </p>
                    <!-- <a href="{% url 'blog:blog_detail' blog.slug %}">read more</a> -->

                </div>
                <div class="col-4">
                    <img src="{{ blog.image.url }}" class="image_in_list mt-5" alt="">
                </div>
            </div>

        </div>
        <!-- ! end of main posts here -->

        {% endfor %}

        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
            <li class="page-item active"><a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a></li>
            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3'  %}
            <li class="page-item"><a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next  %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.page_nums }}" class="page-link">Last</a>
                {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="col-3">
        <!-- search -->
        <div class="card my-4">
            <div class="card-body">
                <div class="card-title">Search blog</div>
                <form action="{% url 'blog:search_blog' %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="q" placeholder="What are you looking for?">
                    <input type="submit" value="Search" class="btn btn-success btn-sm mt-3">
                </form>
            </div>
        </div>

        <!-- About author -->
        <div class="card">
            <img src="{% static 'img/admin.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Author</h5>
                <p class="card-text">I am a passionate software engineer. I write about Python, Django, JavaScript,
                    HTML, CSS ...</p>
                <a href="#" class="btn btn-primary">About</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}