{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="card w-50 mx-auto my-5">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-success">
                <a href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>

            </form>
        </div>
    </div>
</div>

{% endblock content %}