{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'blogs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/mystyle.css' %}">
</head>

<body>

    <div class="container">
        <div class="centered-div">
            <div class="card" style="position:relative">
                <img src="{% static 'img/default.jpg' %}" class="user-logo" alt="user logo">
                <div class="card-body">
                    {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                        {{  message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <h1 class="card-title border-bottom pb-3" style="font-weight:400;">Login</h1>
                    <form action="." method="POST">
                        {% csrf_token %}
                        {{ form|crispy  }}
                        <input type="submit" class="btn btn-success btn-block" value="Login">
                    </form>
                    <hr>
                    <small class="text-secondary"> Need an account ? <a
                            href="{% url 'users:signup' %}">Signup</a><br></small>
                    <small class="text-secondary"> Forgot password ? <a href="{% url 'password_reset' %}">Reset
                            password</a></small>
                </div>
            </div>
        </div>
    </div>
</body>

</html>